go 1.26.5

use (
	./apk
	./cargo
	./debian
	./cmd
	./composer
	./conan
	./core
	./generic
	./go
	./helm
	./hex
	./maven
	./npm
	./nuget
	./oci
	./pub
	./pypi
	./rpm
	./rubygems
	./swiftpm
	./system
)
