go 1.26.5

use (
	./apk
	./cargo
	./debian
	./cmd
	./composer
	./conda
	./conan
	./core
	./generic
	./git
	./gitlfs
	./go
	./helm
	./ivy
	./huggingface
	./httpcache
	./hex
	./maven
	./nix
	./npm
	./nuget
	./oci
	./pub
	./protobuf
	./pypi
	./rpm
	./rubygems
	./swiftpm
	./system
)
